<ion-view class="jz" title="家政服务">
	<ion-content>
		<div class="jz_inner">
			<div class="row row1">
				<div class="col">
					<img src="images/jz/jz_icon_1.png">
					<p>家政服务</p>
				</div>
			</div>
			<div class="row">
				<div class="col" ui-sref="jz_company({type:type[0].name})">
					<img src="images/jz/jz_icon_2.png">
					<p>{{type[0].name}}</p>
				</div>
				<div class="col" ui-sref="jz_company({type:type[1].name})">
					<img src="images/jz/jz_icon_3.png">
					<p>{{type[1].name}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col" ui-sref="jz_company({type:type[2].name})">
					<img src="images/jz/jz_icon_4.png">
					<p>{{type[2].name}}</p>
				</div>
				<div class="col" ui-sref="jz_company({type:type[3].name})">
					<img src="images/jz/jz_icon_5.png">
					<p>{{type[3].name}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col" ui-sref="jz_company({type:type[4].name})">
					<img src="images/jz/jz_icon_6.png">
					<p>{{type[4].name}}</p>
				</div>
				<div class="col" ui-sref="jz_company({type:type[5].name})">
					<img src="images/jz/jz_icon_7.png">
					<p>{{type[5].name}}</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>