<ion-view  class="payment" view-title="付款方式">
	<ion-content>
		<div class="nav">
			<p>订单金额:<span>{{price}}元</span></p>
			<p>订单编号:<span>{{ordernum}}</span></p>
			<p>订单内容:<span>{{content}}</span></p>
			<p>报结时间:<span>{{formatover}}</span></p>
		</div>
		<h1>选择支付方式</h1>
		<div class="list">
			<div class=" item">
				<input type="radio" name="type"  value="微信" disabled="set" checked="checked">
				<div class="tb">￥</div>
				<p>余额支付{{surplus_money}}</p>
			</div>
<!--			<div class=" item">
				<input type="radio" name="type" checked="checked" value="微信">
				<div class="img"><img src="images/weixin.png" style="width: 100%;height: 100%;"></div>
				<p>微信支付</p>
			</div>-->
			<div class=" item">
				<input type="radio" name="type"  value="支付宝">
				<div class="img"><img src="images/zhifubao.png" style="width: 100%;height: 100%;"></div>
				<p>支付宝支付</p>
			</div>
		</div>
		<button class="button" ng-click="jump()">付款</button>
	</ion-content>
	<div class="mima_html">
		<div class="mima_html_inner">
			<div class="top"><div class="close" ng-click="close_tk()"><img src="images/close.png"></div>请输入密码</div>
			<p class="pay_title">支付金额</p>
			<p class="pay_price">￥{{price}}</p>
			<div class="balance">￥余额支付</div>
			<input type="password" ng-model="zhifus" maxlength="6" name="zhifu" class="number" id="zhifu"  myfocus="isOpen1" ng-change="zhifu()">
		</div>
	</div>
</ion-view>