<ion-view  view-title="关于我们">
	<ion-content class="about">
		<div class="img1"><img src="images/about.png" width="100%" height="100%"></div>
		<div class="img2"><img src="images/home1.png" width="100%" height="100%"></div>
		<ion-list class="list">
			<p><span>乐人乐修</span>是由杭州乐人网络科技有限公司主体开发的一款更方便企事业、家庭、店铺所需的各种维修、采购、家政服务的各种快速配套服务平台，且全面整合了人力技术资源浪费和用户日常生活工作服务难的问题。</p>
			<p>乐人乐修平台的特点优势在于：让用户享受更快、更便、更省心的服务；让技术服务者赚取更多更合理的钱；所有交易平台全程监管。</p>
			<p>我们的宗旨：服务更多、保障更好、各方满意。</p>
			<p>我们的目标：创造更适合当今市场刚性需求人力资源快速整合的问题，让更适合的服务平台走向全世界。</p>
		</ion-list>
	</ion-content>
</ion-view>