<ion-view class="cancelOrder" view-title="取消原因">
    <ion-content class="has-header">
        <ion-list class="list">
            <h1>请告诉我们取消原因</h1>
            <p>我们会努力为您提供更好的服务</p>
            <ion-item class="item">临时有事，下次再说吧</ion-item>
            <ion-item class="item">等待时间过长</ion-item>
            <ion-item class="item">联系不上用户</ion-item>
            <ion-item class="item">师傅服务态度恶劣</ion-item>
            <ion-item class="item"><input type="text" placeholder="其他原因请输入"> </ion-item>
        </ion-list>
        <button class="button button-block" ng-click="Map()">取消预订</button>
        <!--<button class="button button-block" ui-sref="map5_sf">点错了</button>-->
        <button class="button button-block" ng-click="Maps()">点错了</button>
    </ion-content>
</ion-view>