<ion-view class="price_grade" view-title="价格指导">
	<ion-content>
		<div class="price_grade_inner">
			<ul>
				<li class="active">电工</li>
				<li>管道工</li>
				<li>空调工</li>
			</ul>
			<div class="price_list">
				<div class="row">
					<div class="col active">时间</div>
					<div class="col active">价格</div>
				</div>
				<div class="row">
					<div class="col">30分钟</div>
					<div class="col">50元</div>
				</div>
				<div class="row">
					<div class="col">1小时</div>
					<div class="col">75元</div>
				</div>
				<div class="row">
					<div class="col">1个半小时</div>
					<div class="col">100元</div>
				</div>
				<div class="row">
					<div class="col">2小时</div>
					<div class="col">125元</div>
				</div>
				<div class="row">
					<div class="col">2个半小时</div>
					<div class="col">150元</div>
				</div>
				<div class="row">
					<div class="col">3小时</div>
					<div class="col">175元</div>
				</div>
				<div class="row">
					<div class="col">3个半小时</div>
					<div class="col">200元</div>
				</div>
				<div class="row">
					<div class="col">4小时</div>
					<div class="col">225元</div>
				</div>
				<div class="row">
					<div class="col">4个半小时</div>
					<div class="col">250元</div>
				</div>
				<div class="row">
					<div class="col">5小时</div>
					<div class="col">275元</div>
				</div>
				<div class="row">
					<div class="col">大于5小时</div>
					<div class="col">300元</div>
				</div>
			</div>
			<div class="price_list">
				<div class="row">
					<div class="col active">时间</div>
					<div class="col active">价格</div>
				</div>
				<div class="row">
					<div class="col">30分钟</div>
					<div class="col">50元</div>
				</div>
				<div class="row">
					<div class="col">1小时</div>
					<div class="col">75元</div>
				</div>
				<div class="row">
					<div class="col">1个半小时</div>
					<div class="col">100元</div>
				</div>
				<div class="row">
					<div class="col">2小时</div>
					<div class="col">125元</div>
				</div>
				<div class="row">
					<div class="col">2个半小时</div>
					<div class="col">150元</div>
				</div>
				<div class="row">
					<div class="col">3小时</div>
					<div class="col">175元</div>
				</div>
				<div class="row">
					<div class="col">3个半小时</div>
					<div class="col">200元</div>
				</div>
				<div class="row">
					<div class="col">4小时</div>
					<div class="col">225元</div>
				</div>
				<div class="row">
					<div class="col">4个半小时</div>
					<div class="col">250元</div>
				</div>
				<div class="row">
					<div class="col">5小时</div>
					<div class="col">275元</div>
				</div>
				<div class="row">
					<div class="col">大于5小时</div>
					<div class="col">300元</div>
				</div>
			</div>
			<div class="price_list">
				<div class="row">
					<div class="col active">时间</div>
					<div class="col active">价格</div>
				</div>
				<div class="row">
					<div class="col">30分钟</div>
					<div class="col">50元</div>
				</div>
				<div class="row">
					<div class="col">1小时</div>
					<div class="col">75元</div>
				</div>
				<div class="row">
					<div class="col">1个半小时</div>
					<div class="col">100元</div>
				</div>
				<div class="row">
					<div class="col">2小时</div>
					<div class="col">125元</div>
				</div>
				<div class="row">
					<div class="col">2个半小时</div>
					<div class="col">150元</div>
				</div>
				<div class="row">
					<div class="col">3小时</div>
					<div class="col">175元</div>
				</div>
				<div class="row">
					<div class="col">3个半小时</div>
					<div class="col">200元</div>
				</div>
				<div class="row">
					<div class="col">4小时</div>
					<div class="col">225元</div>
				</div>
				<div class="row">
					<div class="col">4个半小时</div>
					<div class="col">250元</div>
				</div>
				<div class="row">
					<div class="col">5小时</div>
					<div class="col">275元</div>
				</div>
				<div class="row">
					<div class="col">大于5小时</div>
					<div class="col">300元</div>
				</div>
			</div>
		</div>
		<div class="remark">备注：一小时起步50元，每半小时25元计价。</div>
		<div class="local">适用地区:浙江省范围</div>
	</ion-content>
</ion-view>