<ion-view class="withdraw">
	<ion-header-bar>
		<i class="return icon ion-chevron-left" ui-sref=""></i>
		<div class="title">提现</div>
	</ion-header-bar>
	<ion-content>
		<div class="list all">
			<a class="item  item-icon-right" href="#">
				<div class="img"><img src="images/bank.jpg"></div>
				<div class="bank">转出至<br>中国农业银行<span>(1570)</span></div>
				<i class="icon ion-chevron-right"></i>
			</a>
		</div>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">提现金额</span>
				<input type="text" placeholder="当前余额1321.11元">
			</label>
		</div>
		<button class="button button-block">提交</button>
	</ion-content>
</ion-view>