<ion-view  class="payment" view-title="付款方式">
	<ion-content>
		<div class="nav">
			<p>订单金额:<span>100</span></p>
			<p>订单编号:<span>xxxxxxx</span></p>
			<p>订单内容:<span>空调维修</span></p>
			<p>报结时间:<span>2016-10-8 17:13</span></p>
		</div>
		<h1>选择支付方式</h1>
		<div class="list">
			<div class=" item">
				<input type="radio" name="type" checked="checked" value="微信">
				<div class="tb">￥</div>
				<p>余额支付（101.23)</p>
			</div>
			<div class=" item">
				<input type="radio" name="type" checked="checked" value="微信">
				<div class="img"><img src="images/weixin.png" style="width: 100%;height: 100%;"></div>
				<p>微信支付</p>
			</div>
			<div class=" item">
				<input type="radio" name="type" checked="checked" value="支付宝">
				<div class="img"><img src="images/zhifubao.png" style="width: 100%;height: 100%;"></div>
				<p>支付宝支付</p>
			</div>
		</div>
		<button class="button button-block">付款</button>
	</ion-content>
</ion-view>