.wrap{width:100%;height:100%;}
.wrap .inner{position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;}
.wrap .inner .title{height:50px;line-height:50px;text-align: center;border-bottom: 1px solid #1abb9c;margin-bottom: 10px;font-size: 24px;}
.wrap .inner .companyBox{width:90%;margin:0 auto;background: #fff;padding:10px;text-align: center;}
.wrap .inner  .add{height:30px;display: inline-block;margin-left:60%;text-decoration: none;color:#1abb9c;border:1px solid #1abb9c;border-radius: 4px;font-size: 16px;line-height:30px;width:80px;}
.wrap .inner  .add:hover{transform:scale(1.2);background: #3498db;color:#efefef;}

.wrap .inner .companyBox table a{display: inline-block;margin:0 5px;text-decoration: none;color:#1abb9c;border:1px solid #1abb9c;border-radius: 4px;transition:all 0.5s ease;}
.wrap .inner .companyBox table a:hover{transform:scale(1.2);background: #3498db;color:#efefef;}