.wrap{width:100%;height:100%;}
.wrap .inner{position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;}
.wrap .inner .title{height:50px;line-height:50px;text-align: center;border-bottom: 1px solid #1abb9c;margin-bottom: 10px;font-size: 24px;}
.wrap .inner .companydetailBox{width:90%;margin:0 auto;background: #fff;padding:10px;text-align: center;}
.wrap .inner .companydetailBox .companyPoto{width: 200px;height:200px;margin:20px 0;}
.wrap .inner .companydetailBox p{width:400px;height:50px;line-height:50px;margin:0 auto;}
.wrap .inner .companydetailBox input{width:100px;height:35px;line-height:35px;border-radius: 8px;background: #bdc3c7;border:none;}