<ion-view class="add_bank" title="添加银行卡">
	<ion-content>
		<div class="list">
			<label class="item item-input item-icon-right">
				<span class="input-label">发行卡</span>
				<input type="text" placeholder="请选择发行银行">
				<i class="icon ion-chevron-right"></i>
			</label>
		</div>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">持卡人</span>
				<input type="text" placeholder="持卡人姓名">
			</label>
			<label class="item item-input">
				<span class="input-label">银行卡</span>
				<input type="text" placeholder="银行卡号">
			</label>
		</div>
		<button class="button button-block" ng-click="next()">下一步</button>
	</ion-content>
</ion-view>