<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiuluo.dao.aboutUs.WorkerBankcardMapper" >
  <resultMap id="BaseResultMap" type="com.xiuluo.model.aboutUs.WorkerBankcard" >
    <id column="cardid" property="cardid" jdbcType="INTEGER" />
    <result column="workerid" property="workerid" jdbcType="INTEGER" />
    <result column="cardnumber" property="cardnumber" jdbcType="VARCHAR" />
    <result column="bankname" property="bankname" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    cardid, workerid, cardnumber, bankname, username, phone,type addtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_worker_bankcard
    where cardid = #{cardid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from t_worker_bankcard
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_worker_bankcard
    where cardid = #{cardid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiuluo.model.aboutUs.WorkerBankcard" >
    insert into t_worker_bankcard (cardid, workerid, cardnumber, 
      bankname, username, phone, 
      addtime)
    values (#{cardid,jdbcType=INTEGER}, #{workerid,jdbcType=INTEGER}, #{cardnumber,jdbcType=VARCHAR}, 
      #{bankname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{type,jdbcType=SMALLINT},#{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiuluo.model.aboutUs.WorkerBankcard" >
    insert into t_worker_bankcard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardid != null" >
        cardid,
      </if>
      <if test="workerid != null" >
        workerid,
      </if>
      <if test="cardnumber != null" >
        cardnumber,
      </if>
      <if test="bankname != null" >
        bankname,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardid != null" >
        #{cardid,jdbcType=INTEGER},
      </if>
      <if test="workerid != null" >
        #{workerid,jdbcType=INTEGER},
      </if>
      <if test="cardnumber != null" >
        #{cardnumber,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiuluo.model.aboutUs.WorkerBankcard" >
    update t_worker_bankcard
    <set >
      <if test="workerid != null" >
        workerid = #{workerid,jdbcType=INTEGER},
      </if>
      <if test="cardnumber != null" >
        cardnumber = #{cardnumber,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cardid = #{cardid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiuluo.model.aboutUs.WorkerBankcard" >
    update t_worker_bankcard
    set workerid = #{workerid,jdbcType=INTEGER},
      cardnumber = #{cardnumber,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      type = #{type,jdbcType=SMALLINT},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where cardid = #{cardid,jdbcType=INTEGER}
  </update>
  
  <select id="selectByCardnumber" resultMap="BaseResultMap" >
    select *
    from t_worker_bankcard
    where cardnumber = #{cardnumber}
  </select>
  <select id="selectByWorkerid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from t_worker_bankcard
    where workerid = #{workerid}
  </select>
</mapper>